<table>

<thead> 
    <tr>
    <th class="heading" colspan="2">
    <i class="fa fa-pinterest-p topics" aria-hidden="true">  </i>
     <span> Topics</span>
    </th>
</tr>
    </thead>
    <tbody [formGroup]="fbT">

        <tr>
            <td>.</td>
            <td></td>
        </tr>
        <tr>
            <td> <label for="nature">Nature</label> </td>
             <td> <input type="checkbox" class="form-check-input" id="nature" 
                formControlName="nature" (change)="updateTopic()">
            </td>
            <td> <label for="fantasy">Fantasy</label> </td> 
             <td> <input type="checkbox" class="form-check-input" id="fantasy" 
                formControlName="fantasy" (change)="updateTopic()">
            </td>
        </tr>

        <tr>
            <td> <label for="city">City  </label> </td>
             <td> <input type="checkbox" class="form-check-input" id="city" 
                formControlName="city" (change)="updateTopic()">
            </td>
            <td> <label for="jokes">Jokes</label> </td>
             <td> <input type="checkbox" class="form-check-input" id="jokes" 
                formControlName="jokes" (change)="updateTopic()">
            </td>
        </tr>
        <tr>
            <td> <label for="people">People</label> </td>
             <td> <input type="checkbox" class="form-check-input" id="people" 
                formControlName="people" (change)="updateTopic()">
            </td>
            <td>  <label for="tech">Tech</label> </td>
             <td> <input type="checkbox" class="form-check-input" id="tech" 
                formControlName="tech" (change)="updateTopic()">                
            </td>
        </tr>
    </tbody>

</table>
