table {
    color: white;
    width: 80%;
    height: 85%;
}

thead {
    font-family: "Lato";
    font-weight:lighter;
    font-size: 0.9em;
}


.heading {
     padding-left: 15px;
     padding-bottom: 5px;
     border-bottom: solid;
     border-bottom-width: 0.5px;
     border-color:white;
}

.topics {
    margin: 0px 6px;
}

 tbody tr:first-child {
    visibility: hidden;
    display: block;
    height: 8px;
 }

 label {
    padding-inline-start: 0px;
    padding-inline-end: 20px;
    font-family:"Lobster" sans-serif;
    font-size: normal;
    font-weight: lighter;
    vertical-align: top;
    letter-spacing: -0.5px;
  }

  tbody td:nth-child(3) {
      padding-left: 40px;
  }

  tbody td:nth-child(4) {
    padding-right: 30px;
}