
<div class="col-md-6 col-md-offset-3 text-center">
     <p>Copyright: <a href="https://www.pexels.com/license/">Free License provided by Pexel</a>
    , free template provided by <a href="https://themewagon.com/themes/travelers-free-bootstrap-one-page-agency-website-template/"> ThemeWagon</a> 
    </p>
</div>