div {
    
        padding: 0;
        background: url(\src\assets\img\sky.jpg);
        height: 55px;
        width: 100%;
        margin-top: 0px;
        margin-left: 0%;
    
}
p {
    padding-top: 20px;
}