.intro {
    padding: 10px 0;
    background: none repeat scroll 0% 0% #F1F2ED;
    opacity: .8;
  }

.divide10 {
    width: 100%;
    height: 10px;
}
.divide15 {
    width: 100%;
    height: 15px;
}
.divide20 {
    width: 100%;
    height: 20px;
}

.inner {
    padding-top: 40px;
    padding-bottom: 40px;
}
.vert-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.main-title{
  font-family: 'Lobster', cursive;
  font-size: 45px;
}
#about{
  height: 78%;
  font-family: "Lato";
  margin: 10px 0px;
}
#about p {
  font-size: 16px;
  line-height: 26px;
}
#about h4{
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
}
ol.color {
  line-height: 26px;
  font-size: 16px;
}
#about h5{
  font-size: 16px;
  font-weight: bold;
  line-height: 26px;
}

.picture {
    height: 320px;;
    padding-left: 50px;
}