        <!-- Intro -->
   
        <div id="about">
            <div class="light-wrapper">
                <div class="container inner">
                    <div class="row">
                        <div class="text-center">
                            <h2 class="main-title">How it works?</h2>
                            <hr>
                        </div>
                                               
                      <div class="divide10"></div>
                      <div class="row">
                       
                        <div class="col-sm-4">
                            <figure><img src="https://images.pexels.com/photos/3817672/pexels-photo-3817672.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" class="picture"></figure>
                        </div>   
                        
                        <div class="col-sm-4">
                          <h4>Why to fit the wallpaper to your mood?</h4><hr>
                          <p>Wallpapers are usually selected by keywords. This app gives you the tool to follow your mood and color preferences, for you to feel better. </p>
                          <div class="divide10"></div>
                          <ol class="color">
                            <li>Think of what is your mood now.</li>
                            <li>Select topics that are important, if any.</li>
                            <li>Adjust your palette preferences.</li>
                            <li>Add season to your feelings.</li>
                            <li>Start searching and browsing the results.</li>
                          </ol>
                        </div>
                        <!-- /.col -->
                        
                        <div class="col-sm-4">
                          <h4>Options available</h4><hr>
                          <div class="divide10"></div>
                          <div class="services-2">
                            <div class="icon"> <img src="../assets/img/icon-web.png" data-src="style/images/icons/icon-web.png" data-ret="style/images/icons/icon-web@2x.png" class="retina" alt="" /> </div>
                            <!-- /.icon -->
                            <div class="text">
                              <h5> <a routerLink="/Mood">Configure your mood status</a></h5>
                              <p>Search and browse through the results.</p>
                            </div>
                            <!-- /.text -->
                            <div class="divide20"></div>
                            <div class="icon"> <img src="../assets/img/icon-heart.png" data-src="style/images/icons/icon-heart.png" data-ret="style/images/icons/icon-heart@2x.png" class="retina" alt="" /> </div>
                            <!-- /.icon -->
                            <div class="text">
                              <h5><a routerLink="/History">See the history</a></h5>
                              <p>See your previously downloaded.</p>
                            </div>
                          </div>
                          <!-- /.services-2 --> 
                          
                        </div>
                        <!-- /.col --> 
                        
                      </div>
                      <!-- /.row --> 
                      
                    </div>
                    <!-- /.container --> 
                  </div>
                  <!-- /.light-wrapper -->
                </div>
        
           
        <!-- /Intro -->
