nav {
    width: 100%;
    line-height: 35px;
}

nav ul {
    line-height: 35px;
    list-style: none;
    background: #000;
    color: #fff;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 40px;
}
nav ul li {
    display: inline-block;
    padding: 10px 40px;
    text-decoration: none;
      color: #fff;
      font-size: 16px;
      box-sizing: border-box;
     
}
.logo {
    position: absolute;
    line-height: 60px;
    height: 15px;
    float: left;
    margin: 12px 46px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
    top: 0;
    transform: translateY(-8px);
    background: #000;
    }