<nav>
   
    <div class="menu">
      <a href="https://www.pexels.com/" class="logo">
         PEXELS
      </a>
      <ul>
          <li class="nav-item"><a class="nav-link" routerLink="/Home">Home</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/About">About</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/Mood">Mood</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/History">History</a></li>
       </ul>
    </div>
 </nav>
