
<div class = 'wrapper'>

    <div class="box box1">How do you feel?</div>
    <div class="box box2">
<app-mood></app-mood>
    </div>
    <div class="box box3">
        <app-topics></app-topics>
    </div>
    <div class="box box4">
        <app-palette></app-palette>
    </div>
    <div class="box box5">  
        <div class="up">
            
                <div class="up-download" (click)="pressDownloadRef ()">
            
                    <div class="download icon-item">
                        <a href={{downloadLink}} target="_blank" download> <i class="fa fa-download" aria-hidden="true"
                            ></i> </a>
                    </div>
                </div>
                <div class="angle-left" [style]="{'visibility':isExistPrevious ? 'visible' : 'hidden'}">
                <button class="angle-button" (click) = "pressLeftAngleButton ()">   
                <div class="icon-item">
                        <i class="fa fa-angle-left" aria-hidden="true"></i> 
                    </div>
                </button>   

                </div>
                    
                <div class="angle-right" [style]="{'visibility':isExistNext ? 'visible' : 'hidden'}">
               
                <button class="angle-button" (click) = "pressRightAngleButton ()"> 
                    <div class="icon-item">
                         <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </div>

                </button>
            </div>
            
    </div>
        <img class="image" [src]="pictureLink" alt={{pictureLink}}> 
    </div>
    <div class="box box6">

        <button class="btn btn-light btn-lg " (click) = "pressSearchButton()">
            <div [class]="searchButtonClass ()">
                <i class="fa fa-search" aria-hidden="true"></i>
           </div>
        </button>

    </div>
    <div class="box box7">
       <app-season></app-season>
    </div>
</div>

 