* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  background:#228C87;
  padding: 40px 40px 20px 200px;
  display: grid;
  height: 80%;
  grid-gap: 10px;
  grid-template-columns: 3fr 2fr 3fr;
  grid-template-areas: 
    "header header header"
    "mood mood mood"
    "topic img button"
    "topic img button"
   
    "palete img season"
    "palete img season"
    "palete img season"
    "palete img season"
    "palete img season"
    "palete img season"
    "palete img season"
    "palete img season"
    "palete img season"
    "palete img season"
    "palete img season"
    
}

.box {
  color: #ffffff;
}

.box1 {
  grid-area: header;
  height: 35px;
  padding-top: 0px;
  transform: translateY(-8px);
  margin-bottom: -8px;
  font-family: 'Lobster', cursive;
  font-size: 45px;
  border:none;
  border-bottom: solid;
  border-width: 1px;
  border-color:#ffffff;

}

.box2 {
  grid-area: mood;
}



.box3 {
  grid-area: topic
}

.box4 {
  grid-area: palete
}

.box5 {
  grid-area: img; 
  
}

.image {
  z-index: -1;
  width: 300px;
  height: 300px;
  
}

.up {
    position: absolute;
  z-index: +1;

  }

  .up-download {
    padding-left: 230px;
    padding-top: 20px;
  }

.download {
  font-size: x-large;
  padding: 9px;
  background-color: #05295F;
  border-radius: 50%;
}

.download:hover {
   background-color:cornflowerblue;
}

a {
  color: #ffffff;
  text-decoration: none
}

.angle-left {
  width: 50%;
  float: left;
  padding-left: 17px;
  padding-top: 190px;
  
}


.angle-right {
  width: 50%;
  float: right;
  padding-left: 130px;
  padding-top: 190px;
  
}

.angle-button {
  font-size: xx-large;
  font-weight: bold;
  padding: 4px;
  background-color: rgba(0,0,0,0.6);
  border-radius: 20%;
  border: none;
 
  }

  .angle-button:hover {
    background-color:#05295F;
  }

  .angle-button:focus {
    background-color:slategray;
  }


.box6 {
  grid-area: button;
  justify-self: center;
  align-self: end;
  padding-bottom: 35px;
  border: none;
}

.search-button {
 display: block;
 font-size: 4vh;
 font-weight: bolder;
 min-width: 250px;
 color:#05295F;
}

.search-button-pressed {
 background-color: lightslategrey;
 display: block;
 font-size: 4vh;
 font-weight: bolder;
 min-width: 150px;
 color:grey;
}


.box7 {
  grid-area: season
}

