<section>
  <div class="divide10 header-space1"></div>
  
  <h3 class="header">See up to ten previously downloaded mood wallpapers</h3>
  
  <div class="divide10 header-space2"></div>
  <div class="divide10 left-space"></div>
  <div class="carousel">
  <mat-carousel
  [autoplay]="true"
  [interval]=5000
  ariaLabel="carro"
  timings="250ms ease-in"
  [loop]="true"
  [hideArrows]="false"
  [hideIndicators]="false"
  
  [useKeyboard]="true"
  [useMouseWheel]="true"
  orientation="ltr"
  color="primary"
  maxWidth="450px"
  [maintainAspectRatio]="true"
  [proportion]=65
  slideHeight="80%"> 
    <mat-carousel-slide *ngFor="let h of history"
      #matCarouselSlide
      image={{h}}>
     </mat-carousel-slide> 
  </mat-carousel>
  </div>
  <div class="divide10 right-space"></div>
  
  <div class="divide20 space-footer"></div>
  
  <app-footer></app-footer>
  </section> 