section {
    color: #ffffff;
    background: #0a5175;
    height: 70%;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr 6fr 1fr 3fr;
    grid-gap: 10px;
    grid-template-areas: 
    "header-space1 header-space1 header-space1"
    "heading heading heading"
    "header-space2 header-space2 header-space2"
    "left-space carousel right-space"
    "space-footer space-footer space-footer"
    "footer footer footer"
}

h3 {
    grid-area: heading;
    -webkit-text-size-adjust: 90%;
    display: block;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-weight: normal;
    font-size: 25px;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    transform: translateX(-8px);
}

.header-space1 {
    grid-area: header-space1;
}

.header-space2 {
    grid-area: header-space2;
}

.carousel {
    grid-area: carousel;
    justify-self: center;
    height: 85% ;
    width: 90%;
}

.left-space {
    grid-area: left-space;
}

.right-space {
    grid-area: right-space;
}

.space-footer {
    grid-area: space-footer;
}

app-footer {
    grid-area: footer;
}