<div id="top" class="header">
    <div class="vert-text parallax">
        <h1 class="header-text">Mood your wallpaper</h1>
        <h3 class="header-text">
            <em class="header-text">So you are here to do so</em>
        </h3>
        <h1 class="btn btn-outline-light btn-lg"> <a routerLink="/About">Start</a> </h1>
    
    
    </div>
    
</div>