<section>
<table>

    <thead> 
        <tr>
        <th class="heading" colspan="2">
        <i class="fa fa-snowflake-o topics" aria-hidden="true">  </i>
         <span> Seasons</span>
        </th>
    </tr>
        </thead>
        <tbody>
    
            <tr>
                <td>.</td>
                <td></td>
            </tr>
            <tr>
                <td> <label for="spring">Spring</label> </td>
                 <td> <input type="radio" class="form-check-input" name="season" checked="checked" id="spring" 
                   value="SPRING" [formControl]="season" (change)="updateSeason()">
                </td>
                <td> <label for="autumn">Autumn</label> </td> 
                 <td> <input type="radio" class="form-check-input" name="season" value="AUTUMN" id="autumn" 
                    [formControl]="season" (change)="updateSeason()">
                </td>
            </tr>
    
            <tr>
                <td colSpan="4" class="summer"> <label for="summer">Summer  </label> 
                   <input type="radio" class="form-check-input" name="season" id="summer"
                   value="SUMMER" [formControl]="season" (change)="updateSeason()">
                </td>

            </tr>

        </tbody>
    
    </table>


    <h3>
        <span class="heading">
        <i class="fa fa-pencil-square topics" aria-hidden="true">  </i>
          Clear input</span>
         <button class="btn btn-light btn-lg clear-button" (click)="clear()" >
            
            <i class="fa fa-pencil-square" aria-hidden="true"> <a routerLink="/Mood"></a></i>
          </button>
    </h3>

</section>