section {
    transform: translateY(-10px);
    padding-top: 5px;
    padding-bottom: 5px;
    border:none;
    border-bottom: solid;
    border-width: 1px;
    border-color:#ffffff;
}

ul {
    padding-left: 95px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    list-style: none;
    font-family:"Lobster" sans-serif;
    font-size: small;
    font-weight: lighter;
  }
  
  ul li {
    display: inline-block;
  }
  
  
  label {
    padding-inline-start: 6px;
    font-family:"Lobster" sans-serif;
    font-size: small;
    font-weight: lighter;
    vertical-align: top;
    letter-spacing: -0.5px;
  }