<section>
<ul class="form-check" [formGroup]="fbM">
    <li> <input type="checkbox" class="form-check-input" id="happy" formControlName="happy" (change)="updateMood()">
        <label for="happy">Happy</label> 
    </li>
    <li> <input type="checkbox" class="form-check-input" formControlName="excited" (change)="updateMood()"> 
        <label for="excited">Excited</label> 
    </li>
    <li> <input type="checkbox"  class="form-check-input" formControlName="tender" (change)="updateMood()"> 
        <label for="tender">Tender</label> 
    </li>
    <li> <input type="checkbox" class="form-check-input" formControlName="grim" (change)="updateMood()">  
        <label for="grim">Grim</label> 
    </li>
    <li> <input type="checkbox" class="form-check-input" formControlName="sad" (change)="updateMood()"> 
        <label for="sad">Sad</label> 
    </li>
</ul>
</section>