/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~font-awesome/css/font-awesome.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.divide20 {
    width: 100%;
    height: 20px;
}

.divide10 {
    width: 100%;
    height: 10px;
}

.divide80 {
    width: 100%;
    height: 80px;
}

.divide100 {
    width: 100%;
    height: 100px;
}

@font-face {
    font-family: "Lobster";
    src: url(assets/fonts/Lobster-Regular.ttf) format("opentype");
  }

