<table>

    <thead> 
        <tr>
        <th class="heading" colspan="2">
        <i class="fa fa-paint-brush topics" aria-hidden="true">  </i>
         <span> Palettes</span>
        </th>
    </tr>
        </thead>
        <tbody>
    
            <tr>
                <td colspan="3">.</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2" rowspan="4"> 
                    <mat-slider vertical invert tickInterval="1"
                    class="blueSlider" blur focus min="1" max="4" step="1" [value]="initialValue"
                    (change)="onSliderChange ($event)"></mat-slider>    
                </td>
                <td class="label">  <i class="fa fa-minus" aria-hidden="true">  </i> </td> 
                <td [class]="sliderSelectedClass ('COLOR')"> Color </td> 
            </tr>

            <tr>
                <td class="label">  <i class="fa fa-minus" aria-hidden="true">  </i> </td> 
                <td [class]="sliderSelectedClass ('PASTEL')"> Pastel </td> 
            </tr>
            <tr>
                <td class="label">  <i class="fa fa-minus" aria-hidden="true">  </i> </td> 
                <td [class]="sliderSelectedClass ('SEPIA')"> Sepia </td> 
            </tr>
            <tr>
                <td class="label">  <i class="fa fa-minus" aria-hidden="true">  </i> </td> 
                <td [class]="sliderSelectedClass ('WHITE')"> Black </td> 
            </tr>
        </tbody>
    
    </table>
    