table {
    color: white;
    width: 80%;
    height: 85%;
}

thead {
    font-family: "Lato";
    font-weight:lighter;
    font-size: 0.9em;
}


.heading {
     padding-left: 15px;
     padding-bottom: 5px;
     border-bottom: solid;
     border-bottom-width: 0.5px;
     border-color:white;
}

.topics {
    margin: 0px 6px;
}

 tbody tr:first-child {
    visibility: hidden;
    display: block;
    height: 8px;
 }

 .label {
    padding-inline-start: 0px;
    padding-inline-end: 20px;
    height: 20px;
    font-family: 'Lobster', cursive;
    font-weight: lighter;
    font-size: 20px;
    vertical-align: top;
  }

   .tag-selected {
      color:#05295F;
  }

  mat-slider {
      padding-top: 0px;
      padding-bottom: 20px;
      height: 140px;
  }

  :host ::ng-deep .blueSlider .mat-slider-thumb {
    background-color: white;
  }
  
   
  :host ::ng-deep .blueSlider .mat-slider-track-fill {
    background-color: white;
  }

